@model Behapy.Presentation.Views.Shared.Components.AccountComponent.LoginModel

<!-- Button trigger modal -->
<button class="btn btn-link dropdown-toggle ht-btn p-0"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#accountModal">
  <i class="pe-7s-users"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down modal-dialog-centered">
    <div class="modal-content" style="cursor: default">
      <div class="modal-header">
        <h5 class="modal-title" id="accountModalLabel">Đăng nhập tài khoản</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="login-register-area">
        <form method="post" enctype="multipart/form-data" asp-controller="Identity" asp-action="Login">
          <div class="login-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
              <div class="col-lg-12">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" type="email" placeholder="Email Address" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Email" class="text-danger"></span>
              </div>
              <div class="col-lg-12">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" autocomplete="current-password" aria-required="true"/>
                <span asp-validation-for="Password" class="text-danger"></span>
              </div>
              <div class="col-md-8">
                <div class="check-box">
                  <input asp-for="RememberMe" class="form-check-input"/>
                  <label asp-for="RememberMe" class="form-label">
                    @Html.DisplayNameFor(m => m.RememberMe)
                  </label>
                </div>
              </div>
              <div class="col-md-4 pt-1 mt-md-0">
                <div class="forgotton-password_info">
                  <a >Forgotten password?</a>
                </div>
              </div>
              <div class="col-lg-12 pt-5">
                <button type="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">
                  Login
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial"/>

  <environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-R3vNCHsZ+A2Lo3d5A6XNP7fdQkeswQWTIPfiYwSpEP3YV079R+93YzTeZRah7f/F">
    </script>
  </environment>
}