html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.input-progress[data-status="0"] {
    display: none;
}

.input-progress .input-progress-result {
    color: #00c9a7
}

.input-progress[data-status="1"] .input-progress-result {
    display: none;
}

.input-progress[data-status="2"] .progress {
    display: none;
}
