@model Behapy.Presentation.Models.Distributor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Đối tác</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang Chủ</a>
                <span class="breadcrumb-item active" href="#">Chỉnh sửa thông tin đối tác</span>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                @* 
                <div class="form-group">
                    <label asp-for="DistributorLevelId" class="control-label">Phân loại</label>
                    <select asp-for="DistributorLevelId" class="form-control" asp-items="ViewBag.DistributorLevelId"></select>
                    <span asp-validation-for="DistributorLevelId" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
