
<div class="footer-area">
	<div class="footer-top section-space-y-axis-100 text-white"
		 data-bg-color="#245b1e8c">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6">
					<div class="widget-item">
						<div class="footer-logo pb-4">
							<a href="/">
                                <img src="~/images/shop/logo/logo-footer.png" alt="Logo" />
							</a>
						</div>
						
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1 col-md-6 pt-10 pt-lg-0">
					<div class="widget-item">
						<h3 class="widget-title mb-5">Thông tin</h3>
						<ul class="widget-list-item">
							<li>
								BEHAPY - BE HEALTHY, BE HAPPY
							</li>
							<li>
								Số 5, Lô Ơ1, Linh Đàm, Q.Hoàng Mai, TP.Hà Nội
							</li>
							<li>
								Tổng đài 24/7: 033 806 6889
							</li>
							<li>
								Email liên hệ: behapyvn@gmail.com
							</li>
							<li>
								Email phản hồi dịch vụ: behapyvn@gmail.com
							</li>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
					<div class="widget-item">
						<h3 class="widget-title mb-5">VỀ CHÚNG TÔI</h3>
						<ul class="widget-list-item">
							<li>
								<a href="javascript:void(0)">TRANG CHỦ</a>
							</li>
							<li>
								<a href="javascript:void(0)">DỊCH VỤ</a>
							</li>
							<li>
								<a href="javascript:void(0)">TIN TỨC</a>
							</li>
							<li>
								<a href="javascript:void(0)">GIỚI THIỆU</a>
							</li>
							<li>
								<a href="javascript:void(0)">LIÊN HỆ</a>
							</li>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
					<div class="widget-item">
						<h3 class="widget-title mb-5">MẠNG XÃ HỘI</h3>
						<button class="btn btn-icon btn-primary">
							<i class="anticon anticon-google"></i>
						</button>
						<button class="btn btn-icon btn-primary">
							<i class="anticon anticon-google"></i>
						</button>
						<button class="btn btn-icon btn-primary btn-rounded">
							<i class="anticon anticon-google"></i>
						</button>
						<button class="btn btn-icon btn-primary btn-rounded btn-tone">
							<i class="anticon anticon-google"></i>
						</button>
					</div>
					<div class="widget-form-area">
						<form class="widget-form" action="#">
							<input class="input-field"
										 type="email"
										 autocomplete="off"
										 placeholder="Email của bạn" />
							<div class="button-wrap pt-5">
								<button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0"
												id="mc-submit">
									Gửi Email
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>