@model Behapy.Presentation.Models.Product

@{
  ViewData["Title"] = "Create";
  Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="card">
  <div class="card-body">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <!-- Name -->
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>

      <!-- Price -->
      <div class="form-group">
        <label asp-for="Price" class="control-label"></label>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">VNĐ</span>
          </div>
          <input asp-for="Price" class="form-control" />
        </div>

        <span asp-validation-for="Price" class="text-danger"></span>
      </div>

      <!-- Is Active -->
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
        </label>
      </div>

      <!-- Description -->
      <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
      </div>

      <!-- Image -->
      <div class="form-group">
        <div class="custom-file">
          <label for="Image" class="custom-file-label">Chọn ảnh</label>
          <input id="Image" type="file" class="custom-file-input">

          <input asp-for="ImageUrl" class="d-none">
          <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <div class="input-progress" data-status="0">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="input-progress-result" id="ImageUrlResult"></div>
      </div>

      <!-- Category -->
      <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
      </div>

      <!-- Submit -->
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
      </div>

    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  <!-- image kit -->
  <script type="text/javascript" src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js"></script>

  @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
  }

  <script>
    bindUploadEventToInputFile('#Image', '.input-progress', '@ViewBag.Token', '@ViewBag.Signature', '@ViewBag.Expire', 'Product');
  </script>
}
