@model Behapy.Presentation.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Danh sách sản phẩm</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
              
                <span class="breadcrumb-item active">Chỉnh sửa sản phẩm</span>
            </nav>
        </div>
    </div>
   
    <div class="row m-l-10">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedAt" class="control-label"></label>
                    <input asp-for="CreatedAt" class="form-control" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PromotionId" class="control-label"></label>
                    <select asp-for="PromotionId" class="form-control" asp-items="ViewBag.PromotionId"></select>
                    <span asp-validation-for="PromotionId" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3 pb-3">
                        <button type="submit" asp-controller="Products" asp-action="Admin" class="btn btn-primary m-r-5 form-control">Save</button>
                    </div>
                    <div class="col-6 col-md-5 pb-3">
                        <button asp-controller="Products" asp-action="Admin" class="btn btn-secondary m-r-5 form-control">Back to List</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
