<!-- Side Nav START -->
<div class="side-nav">
	<div class="side-nav-inner">
		<ul class="side-nav-menu scrollable">
			<li class="nav-item dropdown open">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-bar-chart"></i>
					</span>
					<span class="title">Thống kê</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="@Url.Action("Admin", "Products")">
					<span class="icon-holder">
						<i class="anticon anticon-shopping"></i>
					</span>
					<span class="title">Quản lý sản phẩm</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="@Url.Action("Index", "Employees")">
					<span class="icon-holder">
						<i class="anticon anticon-idcard"></i>
					</span>
					<span class="title">Quản lý nhân viên</span>
					@*<span class="arrow">
						<i class="arrow-icon"></i>
					</span>*@
				</a>
				@*<ul class="dropdown-menu">
					<li>
						<a href="avatar.html">Avatar</a>
					</li>
					<li>
						<a href="alert.html">Alert</a>
					</li>
					<li>
						<a href="badge.html">Badge</a>
					</li>
					<li>
						<a href="buttons.html">Buttons</a>
					</li>
					<li>
						<a href="cards.html">Cards</a>
					</li>
					<li>
						<a href="icons.html">Icons</a>
					</li>
					<li>
						<a href="lists.html">Lists</a>
					</li>
					<li>
						<a href="typography.html">Typography</a>
					</li>
				</ul>*@
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-shop"></i>
					</span>
					<span class="title">Quản lý nhà phân phối</span>
					<span class="arrow">
						<i class="arrow-icon"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="accordion.html">Chi nhánh nhượng quyền</a>
					</li>
					<li>
						<a href="carousel.html">Nhà phân phối</a>
					</li>
					<li>
						<a href="dropdown.html">Đại lý</a>
					</li>
					<li>
						<a href="modals.html">Bán lẻ</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-form"></i>
					</span>
					<span class="title">Quản lý nhà cung cấp</span>
					@*<span class="arrow">
						<i class="arrow-icon"></i>
					</span>*@
				</a>
				@*<ul class="dropdown-menu">
					<li>
						<a href="form-elements.html">Form Elements</a>
					</li>
					<li>
						<a href="form-layouts.html">Form Layouts</a>
					</li>
					<li>
						<a href="form-validation.html">Form Validation</a>
					</li>
				</ul>*@
			</li>
			<li class="nav-item dropdown open">
				<a class="dropdown-toggle" href="@Url.Action("Admin", "Orders")">
					<span class="icon-holder">
						<i class="anticon anticon-bar-chart"></i>
					</span>
					<span class="title">Đơn hàng</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-read"></i>
					</span>
					<span class="title">Nhật ký</span>
					@*<span class="arrow">
						<i class="arrow-icon"></i>
					</span>*@
				</a>
				@*<ul class="dropdown-menu">
					<li>
						<a href="basic-table.html">Basic Table</a>
					</li>
					<li>
						<a href="data-table.html">Data Table</a>
					</li>
				</ul>*@
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-inbox"></i>
					</span>
					<span class="title">Chatbox</span>
					@*<span class="arrow">
						<i class="arrow-icon"></i>
					</span>*@
				</a>
				@*<ul class="dropdown-menu">
					<li>
						<a href="chartist.html">Chartist</a>
					</li>
					<li>
						<a href="chartjs.html">ChartJs</a>
					</li>
				</ul>*@
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-file"></i>
					</span>
					<span class="title">Đăng bài all in one</span>
					@*<span class="arrow">
						<i class="arrow-icon"></i>
					</span>*@
				</a>
				@*<ul class="dropdown-menu">
					<li>
						<a href="profile.html">Profile</a>
					</li>
					<li>
						<a href="invoice.html">Invoice</a>
					</li>
					<li>
						<a href="members.html">Members</a>
					</li>
					<li>
						<a href="pricing.html">Pricing</a>
					</li>
					<li>
						<a href="setting.html">Setting</a>
					</li>
					<li class="nav-item dropdown">
						<a href="javascript:void(0);">
							<span>Blog</span>
							<span class="arrow">
								<i class="arrow-icon"></i>
							</span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="blog-grid.html">Blog Grid</a>
							</li>
							<li>
								<a href="blog-list.html">Blog List</a>
							</li>
							<li>
								<a href="blog-post.html">Blog Post</a>
							</li>
						</ul>
					</li>
				</ul>*@
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-lock"></i>
					</span>
					<span class="title">Quản lý hệ thống</span>
					<span class="arrow">
						<i class="arrow-icon"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="login-1.html">Quản lý quyền truy cập</a>
					</li>
					<li>
						<a href="login-2.html">Quản lý tài khoản</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!-- Side Nav END -->